{% extends "base/header.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <div id="content" class="p-4 p-md-5 pt-5">   
        <div class="">
          <div class="row mt-5">
            <div class="col-md-5   m-auto">
              <div class="card card-body">
                <h3 class="text-center">Logged out</h1>
                <p class="text-center">You have been successfully logged out.
                    You can <a href="{% url 'tempreg:login' %}">log-in again</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
