{% extends "base/header.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 m-auto">
        <div class="card card-body">
          <h4 class="text-center mb-3 font-weight-bolder"><i class="fas fa-sign-in-alt"></i> Reset your password</h4>
          <form action="" method="post">
            <input type="hidden" name="ci_csrf_token" value="">
            <h4 class="font-weight-bold text-center text-danger">Forgotten your password?</h4>
            <p class="text-center">Enter your e-mail address to obtain a new password</p>
            <hr> {% csrf_token %} 
            <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                    {{ form.email|add_class:'form-control'|attr:'placeholder:Email address' }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Send Email</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}