{% extends "base/header.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="wrapper d-flex align-items-stretch">
    <div id="content" class="p-4 p-md-5 pt-5">   
        <div class="">
          <div class="row mt-5">
            <div class="col-md-5   m-auto">
              <div class="card card-body">
                <h3 class="text-center">Password changed</h1>
                <p class="text-center">Your password has been successfully changed.</p>
                <a class="font-weight-bolder text-center" href="{% url 'tempreg:login' %}">Login in again</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}