<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    <title>payment process</title>
</head>
<body>
    <h1 class="text-center mt-5 fw-bold">Payment process will be made here</h1>
    <p class="text-center"> once payment process is complete, the user will be 
        directed to create car profile, <a href="{% url 'tempreg:car_edit' %}">click here  </a></p>
</body>
</html>