<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    <title>Payment wall</title>
</head>
<body>
    <h1 class="mt-3 text-center">Payment wall</h1>
    <h3 class="mt-3 text-center">Get your car secured! </h3>
    <p class="text-center mt-3">proceed to <a class="text-decoration-none" href="{% url 'tempreg:payment-process' %}">make payment</a>
</body>
</html>