{% extends "base/header.html" %}
{% block title %}Tempreg | Search{% endblock %}
{% block content %}
<div class="">
  <h1 class="text-center mt-5">Tempreg Cars</h1>
  <div class="d-flex justify-content-center mt-3" id="searchWrapper">
    <form action="{% url 'tempreg:search' %}" method="get">
      <input name="q" type="text" placeholder="Search...">
    </form>
  </div>

  <div class="container mt-5">
    {% for user in object_list %}
    <div class="card col-md-8 p-3">
      <div class="row">

        <div class="col-md-3">
          <img src="{{user.profile.photo.url }}" alt="profile photo" srcset="" width="80%">
        </div>
        <div class="col-md-5">
          <p class="text-start mt-3"> Name: {{ user.first_name }} {{ user.last_name }}</p>
          <p class="">Phone: +234-{{ user.profile.phone }}</p>
          <p class="">City : {{ user.profile.city }}</p>
          <p class="">Car : {{ user.car.name }}</p>
          <p class="">Model : {{ user.car.model }}</p>
          <p class="">Year: {{ user.car.year }}</p>
          <p class="">Vin: {{ user.car.vin }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}