{% extends "base/header.html" %}}
{% block title %}Tempreg | Search States Result {% endblock %}
{% block content %}
   <div class="container">
    <div class="card mt-4">
        <h2 class="mx-3 p-3 text-decoration-underlined">State Search Done</h2>
        <div class="">
            <p class="mx-3 font-weight-bold">{{ state_info }}</p>
        </div>
        <div class="d-flex">
            <p class="mx-3">Go back to <a class="font-weight-bold" href="{% url 'tempreg:search' %}">Search</a></p>
            <p class="mx-3">Go back to <a class="font-weight-bold" href="{% url 'tempreg:home' %}">Home</a></p>
        </div>
    </div>
    <div style="position:relative; top: 300px;">
        <h1 class="text-center mt-5 text-white font-weight-bolder">Only Approved users have access to this page!</h1>
    </div>
   </div>
    
{% endblock %}